@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}